.center {
  text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
img {
    display: inline;
    width: 230px;
    height: 76px;
}
body{
  background: #FFFFFF url("../img/guess.png") top left repeat;
}

#answer{
  display: none;
}
#hints{
  display: none;
}

#app{
  background-color: rgba(255, 255, 255, .5);
}
#headers{
  background-color: rgba(255, 255, 255, .85);
}
#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}

.guess{
  display: inline;
  border: 2px solid;
  border-radius: 15%;
  font-size: 45px;
  padding: 3px 20px;
  margin: 5px;
  text-align: center;
  background-color: white;
}

#hints li{
  display: inline;
  border: 1px solid;
  border-radius: 15%;
  font-size: 35px;
  padding: 2px 15px;
  margin: 3px;
  text-align: center;
  background-color: #b0f7cc;
}

#player-input, #submit{
  border-radius: 100%;
}

#player-input{
  width: 160px;
  height: 160px;
  font-size: 50px;
}

#submit{
  position: relative;
  top: -40px;
  left: 110px;
  width: 50px;
  height: 50px;
  background-color: #1A8E1A;
  color: white;
  font-size: 16px;
}

#name{
  position: relative;
  top: 18px;
}

#reset{
  background-color: #BB2424;
  color: white;
}

#hint{
  background-color: #f5f7b0;
  color: white;
}

#input-parent{
  width: 160px;
  margin: 0 auto;
}

.burning{
  background-color: #ff0909;
}
.lukewarm{
  background-color: #ffa500;
}
.chilly{
  background-color: #00ffb8;
}
.ice{
  background-color: #0089ff;
}
